[attr]rust text eol=lf whitespace=tab-in-indent,trailing-space,tabwidth=4
[attr]sh text eol=lf whitespace=tab-in-indent,trailing-space,tabwidth=2

* text=auto eol=lf
*.rs rust diff=rust
Cargo.lock linguist-generated=false
*.sh sh diff=sh

# Older git versions try to fix line endings on images and fonts, this prevents it.
*.png binary
*.ico binary
*.woff binary
*.woff2 binary
